Modules/__pycache__/
python_course/intermediate/__pycache__/
python_course/intermediate/lesson48_package/__pycache__/
python_course/intermediate/lesson50_package/__pycache__/
.vscode/
venv/

python_course/advanced/__pycache__/
python_course/advanced/lesson25/__pycache__/